<% layout('layout/boilerplate')%>
    <h1>Register </h1>
    <div class="row">
        <form action="/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" text name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label"> Username</label>
                <input class="form-control" text name="username" id="username" required>
            </div>
            <div class=" mb-3">
                <label for="password" class="form-label"> password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button class="btn btn-success"> Register </button>
        </form>
    </div>